{% extends 'base.html' %}
{% set title='My Vacations' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div>
    {% if user and user.fName and user.lName %}
    <h3>
        שלום {{ user.fName }} {{user.lName}}
    </h3>
    {% else %}
    <h3>
        Hello Stranger!
    </h3>
    {% endif %}

    {{
        destinations | default('') | join(' | ')
    }}

    {% if flags %}
        <h3 id="flag">
            דגלי היעדים האהובים:
        </h3>
        <div class="flags-row">
        {% for flag in flags: %}
            <img class="flags-img" src={{flag}}>
        {% endfor %}
        </div>
    {% endif %}
</div>
    <footer class="footer footerAss">
        <div id="phone">
            <label>052-3456789</label>
        </div>
        <span>goodlife@gmail.com</span>
        <div id="logos">
            <img class="logo" src="../static/insta-logo.png" />
            <img class="logo" src="../static/twiter-logo.png" />
            <img class="logo" src="../static/facebook-logo.png" />
        </div>
    </footer>
{% endblock %}
{% block script %}
  {{ super() }}
{% endblock %}
